.page {
    background-color: #1E2A46;
    color: #fff;
    height: 100vh;
    width: 100%;
    padding: 2rem 4rem;
}

.header {
    width: 100%;
    margin-bottom: 24px;
    display: flex;
}

.header p {
    width: 80%;
    font-size: 2rem;
    font-weight: bold;
}

.headerButtons {
    width: 9rem;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header button {
    outline: none;
    border: none;

    font-size: 1rem;
    height: 1.8rem;
    width: 4rem;
    border-radius: 5px;
    color: #fff;
}

.edit {
    background-color: #3b62be;
}

.edit:hover {
    background-color: #3355a5;
}

.delete {
    background-color: #ff0000;
}

.delete:hover {
    background-color: #db0000;
}

.info {
    width: 100%;
    height: 144px;
    display: flex;
    justify-content: space-between;
}

.container {
    width: 40%;
    height: 144px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page h1 {
    font-size: 72px;
}

.container p {
    font-size: 1.2rem;
}

.container > div {
    display: flex;
    align-items: center;
}

.container > div > img {
    height: 1.5rem;
    margin-right: 8px;
}

.description {
    height: 144px;
    width: 50%;
    background-color: #29395d;
    border-radius: 12px;
    padding: 12px;
}

.description p {
    font-size: 1rem;
    height: 144px;
    width: 100%;
    overflow: hidden;
}

.sections {
    width: 100%;
    margin: 0.75rem 0;
    border-bottom: 1px solid rgb(255, 255, 255, 0.4);
    display: flex;
    justify-content: space-around;
}

.sections p {
    font-size: 1.2rem;
    text-align: center;
    width: 50%;
}

.sections p:hover, .currentSection {
    font-weight: 600;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

.members {
    width: 100%;
}

.members > div {
    height: 20rem;
    width: 100%;
    display: flex; 
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.members > div::-webkit-scrollbar {
    display: none;
}

.members > div > div {
    margin: 4px 0.25rem;
}

.join, .leave {
    outline: none;
    border: none;

    font-size: 1rem;
    height: 2rem;
    width: 4.2rem;
    border-radius: 5px;
    margin: 6px 0;

    
    color: #fff;
}

.join {
    background-color: #3b62be;
}

.join:hover {
    background-color: #3355a5;
}

.leave {
    background-color: #ff0000;
    margin-bottom: 1rem;
}

.leave:hover {
    background-color: #db0000;
}

@media (992px <= width) {

}

@media (768px <= width <= 992px) {
    .page {
        padding: 3rem 1rem;
    }
}

@media (width <= 768px) {
    .page {
        padding: 4rem 1rem;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header p {
        width: 100%;
        display: flex;
    }

    .headerButtons {
        height: 3rem;
    }

    .info {
        flex-direction: column;
        justify-content: space-between;
        height: 27rem;
    }

    .container {
        width: 100%;
    }

    .description {
        width: 100%;
    }
}

@media (576px <= width <= 768px) {
    .info {
        height: 20rem;
    }

    .container {
        height: 160px;
    }
}



/* Chat Styling */

.chat {
    height: 20rem;
    width: 100%;
    background-color: #28375a;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatContainer {
    height: 90%;
    width: 100%;
    padding: 6px;
    overflow-y: scroll;
}

.chatContainer::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.chatContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.chatContainer::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #3b62be; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.chatContainer::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}

.message {
    color: #fff;
    margin-bottom: 1px;
    padding: 0px 4px;
    display: flex;
    align-items: center;

}

.message img {
    background-color: #dbdada;
    aspect-ratio: 1/1;
    height: 1.5rem;
    border-radius: 50%;
    align-self: flex-start;
}

.invisible {
    aspect-ratio: 1/1;
    height: 1.5rem;
}

.message .text {
    background-color: #656869;
    max-width: 60%;
    padding: 4px;
    border-radius: 6px;
    margin: 0 4px;
}

.message .sender {
    font-size: 0.6rem;
    font-weight: 600;
    color: #95b5ff;
}

.message .content {
    font-size: 1rem;
}

.chat form {
    width: 100%;
    height: 12%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.chat input {
    outline: none;
    border: none;
    font-family: inherit;
    width: 93%;
    height: 60%;
    border-radius: 12px;
    overflow: hidden;
    resize: none;
}

.chat button {
    outline: none;
    border: none;
    aspect-ratio: 1/1;
    height: 70%;
    border-radius: 50%;
    background-color: #3b62be;

    display: flex;
    justify-content: center;
    align-items: center;
}

.chat button:hover {
    background-color: #3355a5;
}

.chat button:disabled {
    background-color: #e4e4e4;
}

.chat button img {
    aspect-ratio: 1/1;
    height: 50%;
}

@media (width <= 576px) {
    .chat input {
        outline: none;
        border: none;
        font-family: inherit;
        width: 90%;
        height: 60%;
        border-radius: 12px;
        overflow: hidden;
        resize: none;
    }
}
