@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  background: #1E2A46;
}

body {
  margin: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}