@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  --blue-button: #3b62be;
  --blue-button-hovered: #3355a5;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background: #1E2A46;
}

body {
  margin: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

@media (992px <= width) {

}

@media (576px <= width <= 992px) {

}

@media (width <= 576px) {
    html {
      font-size: 12px;
    }
}