.page {
    background-color: #1E2A46;
    color: #fff;
    height: 100vh;
    width: 100%;
    padding: 36px 60px;
}

.header {
    height: 240px;
    width: 100%;
    margin-bottom: 24px;
}

.header img {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.2);
    
}

.header h1 {
    margin-right: 12px;
}

.members {
    width: 100%;
}

.memberHeader {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.memberHeader h2 {
    margin-right: 24px;
}


.page button {
    width: 90px;
    height: 32px;
    border: none;
    border-radius: 8px;
    color: #fff;
}


#editButton {
    background-color: #3b62be;
}

#editButton:hover {
    background-color: #3355a5;
}

#addMemberButton {
    background-color: #3b62be;
}

#addMemberButton:hover {
    background-color: #3355a5;
}

.members .membersContainer {
    height: 280px;
    width: 100%;
    margin-bottom: 12px;
    display: flex;
}

.membersContainer > div {
    margin-right: 16px;
}

#chatButton {
    background-color: #3b62be;
}

#chatButton:hover {
    background-color: #3355a5;
}