.profilePage {
    background-color: #1E2A46;
    color: #fff;
    height: 100vh;
    width: 100%;
    padding: 36px 60px;
}

.header {
    display: flex;
    height: 200px;
    width: 100%;
}

.profile {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.username {
    width: 600px;
    height: 64px;
    display: flex;
}

.username > p {
    width: 288px;
    height: 64px;
    font-size: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.userFunctions {
    width: 200px;
    height: 64px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profilePicture, .profilePicture > img {
    height: 200px;
    width: 200px;

    border-radius: 50%;
    border: 0.1px solid rgb(255, 255, 255, 0.1);
}

.profilePicture {
    margin-right: 24px;
}

.logout, .edit {
    width: 72px;
    height: 32px;
    border: none;
    border-radius: 8px;
    color: #fff;
    background-color: #ff0000;
}

.logout:hover {
    background-color: #db0000;
}

.edit {
    background-color: #3b62be;
}

.edit:hover {
    background-color: #3355a5;
}

.bio {
    height: 64px;
    width: 100%;
}

.friendship {
    height: 64px;
    width: 200px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.friendship > button {
    width: 90px;
    height: 32px;
    border: none;
    border-radius: 8px;
    color: #fff;
}


.friendship > button > img {
    height: 24px;
}

.addFriend {
    background-color: #3b62be;
}

.addFriend:hover {
    background-color: #3355a5;
}

.requestedFriend {
    background-color: #7f7f7f;
}

.requestedFriend:hover {
    background-color: #656565;
}

.pendingFriend {
    background-color: #3b8132;
}

.pendingFriend:hover {
    background-color: #276221;
}

.removeFriend, .rejectFriend {
    background-color: #ff0000;
}

.removeFriend:hover, .rejectFriend:hover {
    background-color: #db0000;
}


.navigation {
    height: 36px;
    width: 100%;
    margin-top: 24px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.4);

    display: flex;
}

.navigation > p {
    width: 33.333%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation > p:hover, .nav-current {
    border-bottom: 1px solid rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;
}


.container {
    width: 100%;
    margin-top: 24px;
}

#friends {
    display: flex;
    flex-wrap: wrap;
}

#friends > div {
    margin: 0 12px;
}
