.card {
    width: 800px;
    height: 6rem;
    display: flex;
}

.senderPicture {
    width: 8rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.message {
    width: 400px;
    height: 6rem;
    display: flex;
}

.message > p {
    width: 400px;
    height: 6rem;
    padding: 6px;
    font-size: 1rem;

    display: flex;
    align-items: center;
}

.buttons {
    width: 25rem;
    height: 6rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttons > button {
    width: 5.5rem;
    height: 2rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    color: #fff;
}

.acceptButton {
    background-color: #3b8132;
}

.acceptButton:hover {
    background-color: #276221;
}

.rejectButton {
    background-color: #ff0000;
}

.rejectButton:hover {
    background-color: #db0000;
}

.confirmButton {
    background-color: #3b62be;
}

.confirmButton:hover {
    background-color: #3355a5;
}


@media (992px <= width) {

}

@media (576px <= width <= 992px) {
    .page {
        padding: 3rem 1rem;
    }

    .card {
        width: 100%;
    }

    .message {
        width: 40%;
    }
    
}

@media (width <= 576px) {
    .page {
        padding: 3rem 1rem;
    }

    .card {
        width: 100%;
    }

    .message {
        width: 40%;
    }
}
