.page {
    background-color: #1E2A46;
    color: #fff;
    height: 100vh;
    width: 100%;
    padding: 2rem 4rem;
}

.page > h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.notifications {
    width: 700px;

}

@media (992px <= width) {

}

@media (576px <= width <= 992px) {
    .page {
        padding: 3rem 1rem;
    }

    .notifications {
        width: 100%;
    }
}

@media (width <= 576px) {
    .page {
        padding: 4rem 1rem;
    }

    .notifications {
        width: 100%;
    }
}