.meetupcard {
    width: 80%;
    height: 200px;
    padding: 24px;
    border-radius: 1rem;
    margin-top: 1rem;
    background-color: white;
    color: #000;
    overflow: hidden;
}

.info {
    display: flex;
    justify-content: space-between;
}