.meetupspage {
    background-color: #1E2A46;
    color: #fff;
    height: 100vh;
    width: 100%;
    padding-left: 20%;
}

.filter {
    width: 100%;
    height: 8%;
    padding: 6px;
    padding-left: 72px;
    background-color: #FFEAE3;

    display: flex;
    align-items: center;
}

.sportsFilter {
    color: #000;
    width: 300px;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.sportsFilter p {
    font-size: 20px;
}

.sportsFilter select {
    outline: none;
    border: none;

    width: 144px;
    height: 100%;
    border-radius: 8px;
    padding: none;
    margin: none;
}

.meetups {
    width: 100%;
    padding-top: 2rem;
    background-color: #1E2A46;

    display: flex;
    flex-direction: column;
    align-items: center;
}