.card {
    height: 6rem;
    width: 6rem;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card:hover {
    cursor: pointer;
    font-weight: 600;
}

.profilePicture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePicture, .profilePicture > img {
    height: 4.5rem;
    width: 4.5rem;

    border-radius: 50%;
    background-color: #dbdada;
}

.username {
    font-size: 1.5rem;
}