.card {
    height: 80px;
    width: 80px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card:hover {
    cursor: pointer;
    font-weight: 600;
}

.profilePicture, .profilePicture > img {
    height: 48px;
    width: 48px;

    border-radius: 50%;
    border: 0.1px solid white;
}

.username {
    font-size: 12px;
}