.login {
    background-color: #1E2A46;
    color: #fff;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 420px;
    height: 540px;
    border-radius: 20px;
    background-color: #001C30;

    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container img {
    width: 150px;
    height: 150px;
}

.container h2 {
    width: 300px;
    margin-bottom: 12px;
}

.loginform {
    width: 300px;
    height: 240px;
}

.loginform input {
    font-family: inherit;
    outline: none;
    border: 2px solid #3b62be;
    box-shadow: 0 0 1pt 1pt #3b62be;
    margin-bottom: 12px;

    width: 100%;
    height: 40px;
    border-radius: 6px;
    padding: none;
    margin: none;

    display: flex;
    align-items: center;
}


.loginform input::placeholder {
    font-family: inherit;
}

.loginform input:focus {
    box-shadow: 0 0 5pt 2pt #3b62be;
}

.loginform > a {
    text-decoration: none;
    color: #3b62be;
}

.container button {
    outline: none;
    border: none;

    width: 6rem;
    height: 1.6rem;
    margin-top: 1em;
    border-radius: 8px;
    background-color: #FFEAE3;;
}

.container button:hover {
    background-color: #ead7d0;
}

#loginButton {
    width: 100%;
    height: 40px;
    border-radius: 4px;

    font-weight: 600;
    color: #fff;
    background-color: #3b62be;
}

#loginButton:hover {
    background-color: #3355a5;
}

.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid #e7195a;
    color: #e7195a;
    border-radius: 4px;
    margin: 20px 0;
}

.signup {
    display: flex;
    justify-content: center;
    width: 300px;
}