.navbar {
    height: 100vh;
    width: 20%;
    z-index: 1;
    position: fixed;
    background-color: #541521;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.top {
    width: 100%;
    height: 70%;
}

.top > img {
    width: 100%;
}

.sections {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bottom {
    color: #fff;
    width: 100%;
    height: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.createmeetup {
    width: 144px;
    height: 32px;
    border: none;
    border-radius: 8px;
    background-color: #FFEAE3;
}

.creatediscussion {
    width: 144px;
    height: 32px;
    border: none;
    border-radius: 8px;
    background-color: #FFEAE3;
    margin-bottom: 20px;
}

.login, .logout {
    width: 72px;
    height: 32px;
    border: none;
    border-radius: 8px;
    margin-top: 12px;
    color: #fff;
    background-color: #005c22;
}

.createmeetup:hover {
    background-color: #ead7d0;
}

.creatediscussion:hover {
    background-color: #ead7d0;
}

.login:hover {
    background-color: #004218;
}

.logout {
    background-color: #ff0000;
}

.logout:hover {
    background-color: #db0000;
}

.loggedin {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loggedin > div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container {
    height: 80px;
    display: flex;
    align-items: center;
}

.user {
    margin: 20px 0;
    width: 160px;
    height: 48px;
    border-radius: 12px;
}

.user:hover {
    background-color: #7b1f30;
}

.user > * {
    width: 160px;
    height: 48px;
    border-radius: 12px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user img {
    width: 36px;
    height: 36px;
    background-color: #dbdada;;
    border: 1px solid rgb(255, 255, 255, 0.1);
    border-radius: 50%;
}

.notifications, .notifications > *{
    width: 48px;
    height: 48px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.notifications:hover {
    background-color: #7b1f30;
}

.notifications img {
    width: 36px;
    height: 36px;
}