.navbar {
    height: 100vh;
    width: 20%;
    z-index: 1;
    position: fixed;
    background-color: #541521;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.top {
    width: 100%;
    height: 70%;
}

.top > img {
    width: 100%;
}

.sections {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bottom {
    color: #fff;
    width: 100%;
    height: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.createmeetup {
    width: 144px;
    height: 32px;
    border: none;
    border-radius: 8px;
    background-color: #FFEAE3;
}

.login, .logout {
    width: 72px;
    height: 32px;
    border: none;
    border-radius: 8px;
    margin-top: 12px;
    background-color: #9aedc5;
}

.createmeetup:hover {
    background-color: #ead7d0;
}

.login:hover {
    background-color: #7cd6aa;
}

.logout {
    background-color: #ff7c7c;
}

.logout:hover {
    background-color: #dd6b6b;
}

.loggedin {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loggedin > div {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.user {
    margin: 20px 0;
}