.section {
    width: 100%;
    height: 40px;

    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;

    overflow: hidden;
}

.section:hover, .hovered {
    background-color: #7b1f30;
    background-color: #1E2A46;
}

.currentPage {
    font-weight: 700;
}

.section img {
    width: 2rem;
    margin-right: 20px;
}

.section p {
    font-size: 1.2rem;
}